# Temporary Furo theme target for versioning
# furo
Sphinx-Substitution-Extensions>=2022.02.16
git+https://github.com/waynew/furo.git@2022.8rc1
sphinx-copybutton>=0.5.0
sphinx-design
sphinx-inline-tabs>=2022.1.2b11
sphinx-multiversion>=0.2.4
sphinx-prompt
sphinx-tabs>=3.3.1
sphinx>=5.1.1
